/* Resetando padding e margin para todos os elementos */
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'k2d-bold';
    src: url(FONTES/K2D-Bold.ttf) format('truetype');  /* Ajuste o caminho da fonte */
}

@font-face {
    font-family: 'k2d-regular';
    src: url(FONTES/K2D-Regular.ttf) format('truetype');  /* Ajuste o caminho da fonte */
}

@font-face {
    font-family: 'k2d-semibold';
    src: url(FONTES/K2D-SemiBold.ttf) format('truetype');  /* Ajuste o caminho da fonte */
}

body {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo na horizontal */
    align-items: center;     /* Centraliza o conteúdo na vertical */
    height: 100vh;           /* Garante que o body tenha a altura completa da tela */
    background-image: url(IMG/blue-sky-with-clouds-background.jpg);
    background-size: cover; /* Faz a imagem de fundo cobrir toda a tela */
    background-position: center; /* Centraliza a imagem de fundo */
}

.register-box {
    width: 80%;
    max-width: 500px;
    height: 75%;
    padding: 30px;
    background-image: linear-gradient(to bottom, #6ba9fb65, #fbfdfe88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    backdrop-filter: blur(10px);
}

form {
    display: flex; /* Alinha os elementos em coluna */
    flex-direction: column; /* Garante que os campos fiquem empilhados */
    align-items: center; /* Centraliza os elementos horizontalmente */
    width: 100%; /* Faz o formulário ocupar toda a largura da caixa */
}

.icon-enter {
    width: 15%; /* Ajuste conforme necessário */
    height: auto; /* Mantenha as proporções */
    margin-bottom: 20px; /* Reduz o espaço entre o ícone e o título */
}

.register-box h1 {
    font-size: 2rem;
    font-family: 'k2d-bold', sans-serif;
    margin-bottom: 15px;
}

.register-box h4 {
    font-family: 'k2d-regular', sans-serif;
    color: #737A8C;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.input-email, .input-password {
    width: 90%;
    height: 50px;
    padding-left: 40px;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #EFF2F6;
    border: none;
    font-family: 'k2d-semibold', sans-serif;
    color: #818998;
    background-repeat: no-repeat;
    background-position: 10px center; /* Centraliza verticalmente e alinha horizontalmente */
}

input::placeholder {
    font-family: 'k2d-semibold', sans-serif; /* Fonte do placeholder */
    font-size: 16px;  /* Tamanho da fonte */
    color: #818998;  /* Cor do placeholder */
}

.input-email {
    background-image: url('/IMG/email.svg');  /* Caminho da sua imagem */
    background-size: 20% 18px; /* Ajuste o tamanho da imagem (ex: 20% de largura) */
    background-position: -3% center; /* Move a imagem 10px para a esquerda */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    padding-left: 60px; /* Garante que o texto e o placeholder não fiquem sobre a imagem */
}

.input-password {
    background-image: url('/IMG/cadeado.svg');  /* Caminho da sua imagem */
    background-size: 20% 25px; /* Ajuste o tamanho da imagem (ex: 20% de largura) */
    background-position: -3% center; /* Move a imagem 10px para a esquerda */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    padding-left: 60px; /* Garante que o texto e o placeholder não fiquem sobre a imagem */
}

.esqueceu-senha {
    font-family: 'k2d-regular', sans-serif; /* Use a mesma fonte para consistência */
    font-size: 14px;
    color: #000000; /* Cor similar à usada no texto secundário */
    text-decoration: none; /* Remove o sublinhado padrão */
    margin-top: 30px;
    margin-bottom: -10px; /* Ajuste o espaçamento */
    margin-right: 5%;
    align-self: flex-end; /* Alinha o texto à esquerda */
    cursor: pointer; /* Exibe o cursor de link */
    transition: color 0.3s ease; /* Adiciona uma transição suave */
    font-family: 'k2d-regular', sans-serif;
}

.button-entrar {
    border: none;
    width: 90%;
    height: 50px;
    background: #0E0F1A;
    color: #FFF;
    font-family: 'k2d-semibold';
    border-radius: 15px;
    margin-top: 40px;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animações de transformação e cor */
}

.button-entrar:hover {
    transform: scale(1.1); /* Amplia o botão em 10% */
}