/* Resetando padding e margin para todos os elementos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'k2d-bold';
    src: url(FONTES/K2D-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'k2d-regular';
    src: url(FONTES/K2D-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'k2d-semibold';
    src: url(FONTES/K2D-SemiBold.ttf) format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
    background-image: linear-gradient(to top, #6ba9fb93, #fbfdfed0);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
    border-radius: 50px;
    height: 80px;
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-left {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centraliza os itens */
    flex: 1; /* Ocupa o espaço disponível */
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: 'k2d-semibold', sans-serif;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 35px;
    opacity: 1; /* Garante que a logo tenha opacidade total */
    transition: opacity 0.3s ease; /* Suaviza a transição da logo */
}

.logo {
    width: 125px;
    cursor: pointer;
}

.separator {
    height: 30px;
    width: 1px;
    background-color: #c0c0c0;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    font-family: 'k2d-semibold', sans-serif;
    font-size: 16px;
    color: #0E0F1A;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #ffffff;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.escreva-pic {
    width: 15px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.escreva-pic:hover{
    transform: scale(1.1);
}

/* Estilos para o hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger .line {
    width: 30px;
    height: 4px;
    background-color: #000000;
    border-radius: 5px;
}

.hamburger:hover .line {
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}

/* Menu Mobile */
.navbar-mobile {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px;
    list-style: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none; /* Impede interações enquanto o menu está fechado */
}

/* Ativar o Menu Mobile */
.navbar-mobile.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; /* Habilita interações quando ativo */
}

/* Itens do Menu Mobile */
.navbar-mobile li {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    border-radius: 10px;
}

.navbar-mobile li:hover{
    background-color: #333; /* Fundo ao passar o mouse */
    transform: translateX(10px); /* Efeito de deslocamento ao passar o mouse */
    border-radius: 10px;
}

.navbar-mobile.active li {
    opacity: 1;
    transform: translateX(0);
}

.navbar-mobile.active li:nth-child(1) {
    transition-delay: 0s;
}

.navbar-mobile.active li:nth-child(2) {
    transition-delay: 0.1s;
}

.navbar-mobile.active li:nth-child(3) {
    transition-delay: 0.2s;
}

.navbar-mobile.active li:nth-child(4) {
    transition-delay: 0.3s;
}

.navbar-mobile.active li:nth-child(5) {
    transition-delay: 0.4s;
}

.navbar-link {
    text-decoration: none;
    color: #000000; /* Cor do texto */
    font-family: 'k2d-semibold', sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, transform 0.3s ease;
    border-radius: 10px; /* Bordas arredondadas nos links */
}

.navbar-link:hover {
    background-color: #333; /* Fundo ao passar o mouse */
    transform: translateX(10px); /* Efeito de deslocamento ao passar o mouse */
    border-radius: 10px;
}

/* Ajustes responsivos */
@media screen and (max-width: 768px) {

    .navbar-left {
        display: none; /* Esconde os links da navbar à esquerda */
    }

    .navbar-right {
        display: none; /* Esconde os links da navbar à direita */
    }

    .hamburger {
        display: flex; /* Mostra o botão de hamburger no mobile */
    }

    .navbar-mobile {
        opacity: 0;
        pointer-events: none; /* Esconde o menu inicialmente */
    }

    .navbar-mobile.active {
        display: flex;
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .navbar-left, .navbar-right {
        display: none;
    }
    .navbar-list {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}

@media screen and (max-width: 480px) {

    .navbar-list {
        gap: 10px;
    }
}

.login-box {
    width: 100%;
    max-width: 600px;
    height: 70%;
    padding: 30px;
    background-image: #ffffff1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    backdrop-filter: blur(10px);
    margin-top: 3%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.icon-enter {
    width: 15%;
    height: auto;
    margin-bottom: 20px;
}

.login-box h1 {
    font-size: 2.2rem;
    font-family: 'k2d-bold', sans-serif;
    margin-bottom: 15px;
    text-align: center;
}

.input-email, .input-password {
    width: 90%;
    height: 50px;
    padding-left: 40px;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #EFF2F6;
    border: none;
    font-family: 'k2d-semibold', sans-serif;
    color: #818998;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input::placeholder {
    font-family: 'k2d-semibold', sans-serif;
    font-size: 16px;
    color: #818998;
}

.input-email {
    background-image: url('/IMG/email.svg');
    background-size: 20% 18px;
    background-position: -3% center;
    background-repeat: no-repeat;
    padding-left: 11%;
}

.input-password {
    background-image: url('/IMG/cadeado.svg');
    background-size: 20% 25px;
    background-position: -3% center;
    background-repeat: no-repeat;
    padding-left: 11%;
}

.esqueceu-senha {
    text-decoration: none;
    font-family: 'k2d-semibold', sans-serif;
    align-self: flex-end;
    font-size: 14px;
    margin-top: 30px;
    color: #0E0F1A;
    margin-right: 5%;
}

.button-entrar {
    border: none;
    width: 90%;
    height: 50px;
    background: #0E0F1A;
    color: #FFF;
    font-family: 'k2d-semibold', sans-serif;
    border-radius: 15px;
    margin-top: 40px;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-entrar:hover {
    transform: scale(1.1);
}

/* Estilos para responsividade */
@media screen and (max-width: 768px) {
    .login-box {
        padding: 20px;
        max-width: 400px;
    }

    .login-box h1 {
        font-size: 1.8rem;
    }

    .input-email, .input-password {
        width: 100%;
        padding-left: 50px;
        font-size: 14px;
    }

    .button-entrar {
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .login-box {
        padding: 15px;
        margin-top: 10%;
    }

    .login-box h1 {
        font-size: 1.6rem;
    }

    .input-email, .input-password {
        width: 100%;
        padding-left: 50px;
        font-size: 14px;
    }

    .button-entrar {
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .icon-enter {
        width: 30%;
        max-width: 80px;
    }
}

@media screen and (max-width: 480px) {
    .icon-enter {
        width: 40%;
        max-width: 60px;
    }
}