
<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-content">
        <div class="navbar-logo">
            <a href="index.html"><img src="../img/logo.png" alt="Logo" class="logo" ></a>
            <span class="separator"></span>
        </div>

        <div class="navbar-left">
            <ul class="navbar-list">
                <li><a href="index.html" class="navbar-link">Home</a></li>
                <li><a href="noticias.html" class="navbar-link">Notícias</a></li>
                <a href="cadastrar.html" class="navbar-link">Cadastrar</a> 
            </ul>
        </div>

        <div class="navbar-right">
            <a href="login.html" class="navbar-link">Login</a> 
        </div>
    </div>

    <div class="hamburger" id="hamburger-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <ul class="navbar-mobile" id="navbar-mobile">
        <li><a href="index.html" class="navbar-link">Home</a></li>
        <li><a href="noticias.html" class="navbar-link">Notícias</a></li>
        <li><a href="login.html" class="navbar-link">Login</a></li>
        <li><a href="cadastrar.html" class="navbar-link">Cadastrar</a></li>
    </ul>
</nav>
